@import "variables";

@mixin pageTtl {
  color: $primary;
  font-weight: $bold;
  font-family: $font-title;
  font-size: $pageTtl;
  text-align: left;
}

@mixin mq-xs {
  @media ( max-width: 0) {
    @content;
  }
}
@mixin mq-sm {
  @media ( max-width: 576px) {
    @content;
  }
}
@mixin mq-md {
  @media ( max-width: 768px) {
    @content;
  }
}
@mixin mq-lg {
  @media ( max-width: 992px) {
    @content;
  }
}
@mixin mq-xl {
  @media ( max-width: 1200px) {
    @content;
  }
}
