@import url("https://use.typekit.net/qxz3ceg.css");

$font-primary: 'brother-1816',sans-serif;

$white: #fff;
$black: #1B1D21;

$bg: #F0F0EE;
$brand: #1B4949;
$txt: #28292D;
$linkOff: #848484;
$linkOff-hover: #98A6AE;

$transition:                  all 0.5s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;